html, body {
  width: 580px;
  height: 250px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

header {
  background-color: red;
}

img {
  background-color: white;
  opacity: 1;
}

.title {
  color: white;
}

.navbar {
  height: 40px;
}

.btn-ar {
  background-color: white !important;
}

.color-white {
  color: white !important;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
    margin-right: 20px;
}

.btn-success {
    color: white !important;
    background-color: #18BC9C !important;
    border-color: #18BC9C !important;
    font-weight: 700 !important;   
}

.menu {
  position: relative;
}

.notifications-count{
  position: absolute;
  top: 10px;

}

.btn-reload-notif {
    border-radius: 50%!important;
    margin-left: 14px !important;
    margin-right: 5px !important;
}

.btn-notification-action {
    background-color: #71CE4E !important;
    color: white;
    margin: 0px !important;
    margin-top: -4px !important;
    padding: 4px 8px !important;
    margin-right: 10px !important;
}

.notifications-count{
    background-color: #34a853;
    font-size: 10px;
    position: absolute;
    top: 1px;
    right: 265px;
}

.active {
  color: red !important;
}

.isUnseen{
  color: green !important ;
}

.btn-notification-delete {
    color: white;
    margin: 0px !important;
    margin-top: -4px !important;
    padding: 4px 8px !important;
    margin-right: 10px !important;
}


.list-group ul {
    margin-bottom: 0px !important;
    list-style:none;
    margin-left: -35px;

}

.thumb-send-to {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    padding: 3px;
    margin-top: 7px;
}

.btn-select-contact {
    min-width: 80% !important;
    width: 80% !important;
    border-radius: 0px;
}

.btn-scroll-type {
    border: none!important;
    padding: 0px 3px;
    text-align: left !important;
    margin-top: 0px;
    background-color: transparent;
}

.elipsis {
    text-overflow: ellipsis;
    white-space: nowrap !important;
    overflow: hidden;
    max-width: 98%;
    display: inline-block;
}



.info-contact {
    display: inline-block;
    vertical-align: middle;
}

.text-dark, a.text-dark {
    color: #2C3E50 !important;
}

.bg-yellow {
     color: white !important;
    background-color: #FFC600 !important;
}

.bg-purple {
     color: white !important;
    background-color: #8C5AA1 !important;
}

.bg-orange {
    color: white !important;
    background-color: #FFA200 !important;
}

.bg-green {
     color: white !important;
    background-color: #93C020 !important;
}

.bg-azure {
    color: white !important;
    background-color: #2BB0C6 !important;
}

.bg-green-k {
    background-color: #34a853 !important;
    color: white !important;
}

.bg-vine, a.bg-vine {
    color: white !important;
    background-color: #89403d !important;
}

.bg-url, a.bg-url {
    color: white !important;
    background-color: #8287ec !important;
}

.bg-news {
    color: white !important;
    background-color: #C0C0C0 !important;
}

.text-bold {
    font-weight: 700;
}

.btn-open-chat {
    margin-top: 13px;
    margin-right: 10px;
    border-radius: 15px !important;
    padding: 3px 6px !important;
    color: #575b75;
}

.active {
  background-color: #f8f9fa !important;
}

.dropdown-item:active ,.dropdown-menu {
    color: #fff;
    text-decoration: none;
    background-color: #f8f9fa!important ;
}

.toolbar-bottom-adds .addBtnFoot {
    border-radius: 5px;
    color: white !important;
    border: none;
    text-align: left;
    width: 200px !important;
    height: 200px !important;
}

.btn-news{
    width: 150px !important;
    height: 38px !important;
}
.espace-r-5 {
    margin-right: 5px !important;
}

.tagListEl {
    background-color: #f2f2f2;
    color: #3C5665;
    width: 170px;
    font-size: 16px;
    text-transform: capitalize;
}

.size-select { 
    width: 300px; 
}
